
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 1040px;
    height: auto;

    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
    color: #404040;
    background-color: #ffffff;

}
h2 {
    padding: 80px 0;

    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: inherit;
}
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1020px;
    width: 100%;
}

/*page-header*/

.page-header {
    padding: 0;
    width: auto;
    min-height: 690px;

    background: url(img/wheat-back.jpg) center no-repeat #363636;
    color: #c3c3c3;
    background-size: cover;
}
.header-logo {
    width: 140px;
    height: 76px;
}
.header-top {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: center;
    padding: 80px 0 125px;
}
.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    width: calc(100% - 250px);
    padding: 20px;

    border-top: 1px solid rgba(250, 214, 214,0.5);
    border-bottom: 1px solid rgba(250, 214, 214,0.5);
    background: rgba(255,255,255, 0.05);
}
.main-nav li {
    list-style: none;
}
.main-nav a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.main-nav a:hover {
    color: orange;    
}
.main-nav a:active {
    color: orange;
    opacity: 70%;
}
.promo {
    font-weight: bold;
    line-height: 85px;
    text-align: center;
    font-size: 80px;
    font-family: inherit;
}
.promo a {
    color: #fff;
    text-decoration: none;
}


/*new*/

.new-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}
.catalog-item {
    position: relative;
    padding: 0 10px;
    width: 100%;
    margin-bottom: 80px;

    border: 1px solid #c3c3c3;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
}
.catalog-item a {
    padding: 20px 25px;

    font-size: 20px;
    color: rgb(185, 86, 86);
    text-decoration: none;
    border: 2px solid rgb(185, 86, 86);
    text-transform: uppercase;
    cursor: pointer;
}
.catalog-item a:hover {
    color: brown;
    border: 2px solid rgb(150, 51, 12);
}
.catalog-item a:active {
    color: brown;
    border: 2px solid rgb(150, 51, 12);
    opacity: 0.5;
}
.catalog-item .buy {
    padding: 20px 30px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgb(150, 51, 12);
    border-color: rgb(150, 51, 12);
    color: #fff;
    cursor: pointer;
}
.catalog-item .buy:hover {
    color: #fff;
    background-color: rgb(102, 48, 27);
    border-color: rgb(102, 48, 27);
}
.catalog-item .buy:active {
    opacity: 0.9;
} 
.catalog-item .title {
    padding: 0 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.catalog-item img {
    text-align: center;
    width: 100%;
    height: auto;
}
.catalog-item p {
    margin: 20px 0 30px;
    text-align: justify;

    font-size: 16px;
}
.catalog-table {
    position: absolute;
    top: 90px;
    right: 10%;

    border: 1px solid #d9d9d9;
    border-collapse: collapse;
}
.catalog-table td {
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;

    border: 1px solid #d9d9d9;
    border-collapse: collapse;
    text-transform: uppercase;
}
.catalog-table caption {
    padding: 5px;
    text-align: justify;
    caption-side: bottom;
}
.catalog-btns b {
    margin-left: 25px;
}
.catalog-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
}
.catalog-btns .btn {
    margin-right: 6px;
}


/*features*/

.features {
    background-color: rgb(255, 204, 109);
    width: 100%;
}
.features ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    padding: 70px 0;
    list-style: none;
}
.features li:first-child {
    border-left: none;
}
.features li {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    /* flex-wrap: wrap; */
    padding: 120px 0 0;
    margin-right: 15px;

    border-left: 2px solid #92653125;
}
.feature-title {
    padding: 0;

    font-size: 20px;
    line-height: 1;
    font-weight: bold;
    color: #000;
}
.feature1 {
    background: url("img/icon-brew.png") no-repeat 50% 0%;
}
.feature2 {
    background: url("img/icon-matreshka.png") no-repeat 50% 0%;
}
.feature3 {
    background: url("img/icon-thumbsup.png") no-repeat 50% 0%;
}
.feature-item p {
    padding-top: 20px;

    line-height: 1.8;
    opacity: 0.8;
}
.header-top .busket {
    position: relative;
}
.header-top .busket::after {
    content: "";
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    background: url(img/shopping-basket-solid.svg) white;
    /* <i class="fas fa-shopping-basket"></i> https://fontawesome.com/ */
    border-radius: 50%;
}
.header-top .hide {
    position: relative;
}
.header-top .hide::after {
    content: "";
    display: none;
    position: absolute;
    top: -30px;
    width: 30px;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}


/*reference*/

.reference .container {
    max-width: 850px;
}
.reference-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.reference-source {
    color: #666666;
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
    
}
.reference dd {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px 0 50px;
}
.reference dd img {
    display: block;
    width: 200px;
    height: auto;

    border-radius: 5px;
}
.reference p {
    text-align: justify;
    width: calc(100% - 250px);
    max-width: 500px;
    opacity: 0.8;
    line-height: 1.8;
}
.reference dt {
    position: relative;
}

.reference a {
    color: rgb(163, 100, 59);
    font-style: italic;
}


/*reviews*/

.reviews {
    position: relative;

    background-color: rgba(228, 213, 192, 0.658);
}
.container2 {
    padding-bottom: 80px;
} 

.reviews-list {
    position: relative;
}
.reviews .img {
    margin-bottom: 40px;
    text-align: justify;
    width: 700px;

    font-size: inherit;
    line-height: 1.8;
    opacity: 0.8;
}
.reviews .img::before {
    content: '';
    position: absolute;
    left: 90px;
    width: 50px;
    height: 50px;

    background: url("img/quotes.png") no-repeat;
}
.reviews .paper {
    position: relative;
    text-align: right;

    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.reviews .btn {
    position: relative;
    padding: 15px 15px;
    bottom: 20px;
    margin: 30px 0 80px;

    text-transform: uppercase;
    border: 1px solid gray;
    font-weight: bold;
    color: rgba(163, 162, 162, 0.685);
}
.reviews .btn:hover {
    color: white;
    background-color: rgb(102, 95, 95);
    border-color:   rgb(102, 95, 95);
}
.reviews .btn:active {
    color: white;
    background-color: rgb(102, 95, 95);
    border-color:   rgb(102, 95, 95);
    opacity: 0.3;
    }


/*range*/

.range {
    text-transform: uppercase;
}
.price-list {
    width: 100%;
    margin-bottom: 80px;
}
.price-list tr th {
    font-size: 10px;
    color: gray;
    opacity: 0.8;
}
.price-list th, 
.price-list td {
    padding: 20px 0;
    text-align: left;

    border-bottom: 2px solid rgba(128, 128, 128, 0.281);
}
.price-list td:first-child {
    font-weight: bold;
}
.price-list th:last-child, 
.price-list td:last-of-type {
    text-align: right;
}
.new-beer .new-link {
    position: relative;
    
    left: 15px;
    top: -5px;
    padding: 2px;

    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-color: #000;
    font-size: 8px;
}


/*order*/

.order {
    background-color: rgba(255, 164, 44, 0.603);
}
label {
    text-transform: uppercase;
}
.order p {
    text-align: justify;
    margin-bottom: 50px;

    opacity: 0.8;
    line-height: 1.8;
}
input, textarea, select {
    width: 100%;
    margin: 10px 0 20px;
    padding: 15px;

    background-color: rgba(161, 129, 87, 0.239);
    border-width: 0px;
    font-family: inherit;
    font-size: 14px;
}
input:hover, textarea:hover, select:hover {
    background-color: rgba(161, 129, 87, 0.726);
    outline: 0;
    outline-offset: 0;
}
input:focus, textarea:focus, select:focus {
    background-color: #fff;
    outline: 0;
    outline-offset: 0;
}
.volume-form option {
    opacity: 0.8;
}
.text-holder {
    width: 650px;
}
.left-phone-form {
    float: left;
    width: 300px;
}
.right-phone-form {
    float: right;
    width: 300px;
}
.textarea textarea {
    width: 100%;
    resize: vertical;
    min-height: 150px;
    max-height: 500px;
    font-family: inherit;
}
.order .btn {
    padding: 15px 15px;
    margin: 30px 0 80px;

    text-transform: uppercase;
    border: 1px solid rgba(102, 48, 27, 0.8);
    font-weight: bold;
    color: #fff;
    background-color: rgba(102, 48, 27, 0.8);
    outline: 0;
    outline-offset: 0;
}
.order .btn:hover {
    color: white;
    background-color: rgb(102, 48, 27);
    border-color:   rgb(102, 48, 27);
    outline: 0;
    outline-offset: 0;
}
.order .btn:active {
    color: white;
    background-color: rgb(102, 48, 27);
    border-color:   rgb(102, 48, 27);
    opacity: 0.3;
    outline: 0;
    outline-offset: 0;
    } 
.checkbox {
    position: relative;
    display: block;
    left: 0;
}
.checkbox label {
    position: relative;
}
.checkbox input {
    position: absolute;
    width: auto;
    left: 20px;
    top: -8px;
}
.c-b {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: inherit;
    user-select: none;
}
.c-b input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(161, 129, 87, 0.239);
}
.c-b:hover input ~ .checkmark {
    background-color: rgba(161, 129, 87, 0.239);
}
.c-b input:checked ~ .checkmark {
    background-color: rgb(68, 67, 67);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.c-b input:checked ~ .checkmark:after {
    display: block;
}
.c-b .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/*page-footer*/

.page-footer {
    padding: 0;

    background-color: #000;
}
.page-footer p {
    color: rgb(206, 206, 206);
}
.footer-top {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    padding-top: 80px;
    margin-bottom: 70px;
}
.footer-logo {
    width: 140px;
    height: 76px;
}
.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.page-footer .container {
    padding-bottom: 0px;
}
.footer-social {
    font-size: 0;
}
.social-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 0px;
    vertical-align: middle;
    align-items: center;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
.footer-social .btn-ig {
    background: url(img/icon-insta.png) no-repeat rgba(128, 128, 128, 0.2);
    background-position: 50%;
}
.footer-social .btn-fb {
    background: url(img/icon-fb.png) no-repeat rgba(128, 128, 128, 0.2);
    background-position: 50%;
}
.footer-social .btn-vk {
    background: url(img/icon-vk.png) no-repeat rgba(128, 128, 128, 0.2);
    background-position: 50%;
}
.btn-logo {
    background: url(img/htmlacademy.png) no-repeat rgba(128, 128, 128, 0.2);
    background-position: 50%;
}
.footer-bottom p {
    margin: 0;
}

/* the end */

@media only screen and (max-width: 960px) {
    body {
        min-width: auto;
    }
    h2 {
        padding: 50px 0;
        font-size: 32px;
    }
    .container {
        max-width: 960px;
        width: 100%;
    }
        /* header */
    .page-header {
        min-height: 400px;
    }
    .header-top {
        padding: 60px 0px 60px;
    }
    .promo {
        font-size: 60px;
    }
        /* new */
    .container {
        padding: 0 30px;
    }
    /* .catalog-item {
        max-width: 460px;
    } */
    .catalog-item .title {
        font-size: 30px;
    }
    .catalog-item img {
        width: auto;
    }
    .catalog-item a, .catalog-item .btn {
        padding: 10px;
        font-size: 15px;
    }
    .catalog-table td {
        padding: 10px;
        font-size: 15px;
    }
    .catalog-table caption {
    font-size: 14px;
    }
    /* reviews */
    /* .reviews .img::before {
    left: 800px;
    } */
    .reviews blockquote {
        max-width: 100%;
        padding-right: 70px;
        top: 5px;
    }
    .reviews .img::before {
        right: 0;
        left: auto;
    }
    .reviews .img {
        width: 100%;
    }
    /* range */
    /* .price-list {
        max-width: 850px;
    } */
    /* reference */
    .reference .container {
        max-width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    h2 {
        text-align: center;
        font-size: 30px;
    }
    .container {
        max-width: 768px;
        width: 100%;
    }
    .main-nav a {
        padding: 10px;
    }
    /* page header */
    .page-header {
        max-width: 760px;
        min-height: 450px;
    }
    .page-header .header-top {
        flex-wrap: wrap;
    }
    .page-header ul {
        flex-wrap: wrap;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .promo {
        line-height: 65px;
    }
    /* new */
    /* .new {
        max-width: 650px;
    }
    .new .container {
        max-width: 650px;
    } */
    .new-items {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }
    .catalog-item {
        max-width: 650px;
        border: none;   
    }
    .catalog-item img {
        margin-left: 85px;
    }
    .catalog-item .title {
        text-align: center;
        font-size: 28px;
    }
    .catalog-btns {
        justify-content: center;
        text-align: center;
    }
    .reference-box {
        margin: 0 auto 30px;
        width: 100%;
        max-width: 400px;
        border-bottom: 2px solid #0a0a0a2f;
    }
        /* .reference .line::after {
        content: "";
        width: 400px;
        border-bottom: 2px solid #0a0a0a2f;
        height: 2px;
        background-position: center;
    } */
    /* features */
    /* .features {
        max-width: 750px;
    } */
    .features ul {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 750px;
    }
    .features li {
        width: 600px;
        padding-bottom: 20px;
        border: none;
        vertical-align: middle;
        text-align: center;
    }
    /* reference */
    .reference {
        max-width: 750px;
        vertical-align: middle;
    }
    .reference p {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
    .reference dd {
        flex-direction: column-reverse;
    }
    .reference dd img {
        margin: 0 auto 20px;
    }
    .reference-title {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;

        text-align: center;

    }
    .reference-source {
        margin-top: 5px;
        font-size: 13px;
        opacity: 0.3;
    }
   
 
    /* reviews */
    /* .reviews {
        max-width: 750px;
    } */
    .reviews blockquote {
        /* max-width: 100%; */
        padding: 0;
    }
    .reviews .img::before {
        display: none;
    }
    .reviews .paper {
        text-align: right;
        padding-left: 180px;
    }
     /* range */
     /* .range {
        max-width: 650px;
    }
     .price-list {
        max-width: 768px;
    } */

    /* order */
    /* .order {
        max-width: 760px;
    } */
    .order .btn {
        margin: 30px 250px 80px;
    }
    /* footer */
    /* .page-footer {
        max-width: 760px;
    }
    .footer-top {
        max-width: 650px;
    } */
    .page-footer ul {
        flex-wrap: wrap;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom p {
       font-size: 14px;
    }
}
@media only screen and (max-width: 480px) {
    
    /* new */

    /* features */
    /* reference */
    /* reviews */
    /* range */
    /* order */

}